{% extends "survey/layout.html" %}

{% block head %}
    Editor
{% endblock %}

{% block body %}
    <h1>Here you can set your survey</h1>
    <form class="survey" action="/editor" method="get">
        <div class="form-group">
            <label for="noquestions">Number of questions:</label><br>
            <input autocomplete="off" autofocus class="form-control" id="noquestions" placeholder="How many questions?" type="number" name="noquestions" {% if users_no_questions %} value="{{users_no_questions}}" {% endif %}>
        </div>
        <input type="submit" value="Set number of questions">
    </form>
    
    <form class="survey" action= "/editor" method="post">
        {% csrf_token %}
        {% if questions %}
            <p>This is your survey</p>
            <!--This autofills in old questions if they exist-->
            {% for row in questions %}

                <div class="form-group">
                    Q{{row.number}}. <input autocomplete="off" autofocus class="form-control questionedit" name="q{{ row.number }}" placeholder="Type in your question {{ row.number }} here" type="text" value="{{row.question}}">
                    <br>
                    <input autocomplete="off" autofocus class="form-control" name="q{{row.number}}a1" placeholder="Answer 1" type="text" value="{{row.ans1}}">
                    <input autocomplete="off" autofocus class="form-control" name="q{{row.number}}a2" placeholder="Answer 2" type="text" value="{{row.ans2}}">
                    
                    <input autocomplete="off" autofocus class="form-control" name="q{{row.number}}a3" placeholder="Answer 3(optional)" type="text" {% if row.ans3 >= 3 %} value="{{row.ans3}}" {% endif %}>
                    <input autocomplete="off" autofocus class="form-control" name="q{{row.number}}a4" placeholder="Answer 4(optional)" type="text" {% if row.ans4 >= 4 %} value="{{row.ans4}}" {% endif %}>
                    <input autocomplete="off" autofocus class="form-control" name="q{{row.number}}a5" placeholder="Answer 5(optional)" type="text" {% if row.ans5 >= 5 %} value="{{row.ans5}}" {% endif %}>
                    <input autocomplete="off" autofocus class="form-control" name="q{{row.number}}a6" placeholder="Answer 6(optional)" type="text" {% if row.ans6 >= 6 %} value="{{row.ans6}}" {% endif %}>
                    <p></p>
            {% endfor %}

            <!--This adds new questions if the user selects to add more-->
            {% for n in range(users_no_questions+1,noquestions+1) %}
                <p>This is a new question</p>

                    Q{{n}}. <input autocomplete="off" autofocus class="form-control questionedit" name="q{{ n }}" placeholder="Type in your question {{ n }} here" type="text">
                    <br>
                    <input autocomplete="off" autofocus class="form-control" name="q{{n}}a1" placeholder="Answer 1" type="text">
                    <input autocomplete="off" autofocus class="form-control" name="q{{n}}a2" placeholder="Answer 2" type="text">
                    <input autocomplete="off" autofocus class="form-control" name="q{{n}}a3" placeholder="Answer 3(optional)" type="text">
                    <input autocomplete="off" autofocus class="form-control" name="q{{n}}a4" placeholder="Answer 4(optional)" type="text">
                    <input autocomplete="off" autofocus class="form-control" name="q{{n}}a5" placeholder="Answer 5(optional)" type="text">
                    <input autocomplete="off" autofocus class="form-control" name="q{{n}}a6" placeholder="Answer 6(optional)" type="text">
                    <p></p>
            {% endfor %}
            </div>
        {% else %}

            <!--This section is for users who have no questions yet-->
            <p>Please complete all questions and then submit to save</p>

            <p>This is for a new survey</p>
            {% for n in range(1,(noquestions+1)) %}
                <div class="form-group">
                    Q{{n}}. <input autocomplete="off" autofocus class="form-control questionedit" name="q{{ n }}" placeholder="Type in your question {{ n }} here" type="text">
                    <br>
                    <input autocomplete="off" autofocus class="form-control" name="q{{n}}a1" placeholder="Answer 1" type="text">
                    <input autocomplete="off" autofocus class="form-control" name="q{{n}}a2" placeholder="Answer 2" type="text">
                    <input autocomplete="off" autofocus class="form-control" name="q{{n}}a3" placeholder="Answer 3(optional)" type="text">
                    <input autocomplete="off" autofocus class="form-control" name="q{{n}}a4" placeholder="Answer 4(optional)" type="text">
                    <input autocomplete="off" autofocus class="form-control" name="q{{n}}a5" placeholder="Answer 5(optional)" type="text">
                    <input autocomplete="off" autofocus class="form-control" name="q{{n}}a6" placeholder="Answer 6(optional)" type="text">
                    <p></p>
                </div>
            {% endfor %}
        {% endif %}

        <br>
        <button class="btn btn-primary" type="submit">Save Survey</button>
    </form>
    <p></p>
{% endblock %}