{% extends "survey/layout.html" %}

{% block head %}
    Survey
{% endblock %}

{% block body %}
    {% if user.is_authenticated %}
        <h1>Survey Preview</h1>
        <div class="survey">

        {% for row in questions %}

            <p class="question">{{row.number}}. {{ row.question }}</p>
            
            <div class="aligner">
            {% if row.type >= 1 %}
                <label for="option{{row.number}}.1"><input type="radio" id="option{{row.number}}.1" name="{{row.number}}" value="{{row.ans1}}" /> {{row.ans1}}</label>
                <br>
            {% endif %}
            {% if row.type >= 2 %}
                <label for="option{{row.number}}.2"><input type="radio" id="option{{row.number}}.2" name="{{row.number}}" value="{{row.ans2}}" /> {{row.ans2}}</label>
                <br>
            {% endif %}
            {% if row.type >= 3 %}
                <label for="option{{row.number}}.3"><input type="radio" id="option{{row.number}}.3" name="{{row.number}}" value="{{row.ans3}}" /> {{row.ans3}}</label>
                <br>
            {% endif %}
            {% if row.type >= 4 %}
                <label for="option{{row.number}}.4"><input type="radio" id="option{{row.number}}.4" name="{{row.number}}" value="{{row.ans4}}" /> {{row.ans4}}</label>
                <br>
            {% endif %}
            {% if row.type >= 5 %}
                <label for="option{{row.number}}.5"><input type="radio" id="option{{row.number}}.5" name="{{row.number}}" value="{{row.ans5}}" /> {{row.ans5}}</label>
                <br>
            {% endif %}
            {% if row.type >= 6 %}
                <label for="option{{row.number}}.6"><input type="radio" id="option{{row.number}}.6" name="{{row.number}}" value="{{row.ans6}}" /> {{row.ans6}}</label>
                <br>
            {% endif %}

            <p></p>
            </div>
        {% endfor %}
        <div class="btn-section">
            <p> This cannot be submitted</p>
        </div>

        </div>
    {% else %}
    <h1>My Survey</h1>
    <form  action= "/" method="post">
        {% csrf_token %}
        <div class="survey">
            {% for row in questions %}

                <p class="question">{{row.number}}. {{ row.question }}</p>
                <div class="aligner">

                {% if row.type >= 1 %}

                    <label for="option{{row.number}}.1"><input type="radio" id="option{{row.number}}.1" name="{{row.number}}" value="{{row.ans1}}" /> {{row.ans1}}</label>
                    <br>
                {% endif %}
                {% if row.type >= 2 %}
                    <label for="option{{row.number}}.2"><input type="radio" id="option{{row.number}}.2" name="{{row.number}}" value="{{row.ans2}}" /> {{row.ans2}}</label>
                    <br>
                {% endif %}
                {% if row.type >= 3 %}
                    <label for="option{{row.number}}.3"><input type="radio" id="option{{row.number}}.3" name="{{row.number}}" value="{{row.ans3}}" /> {{row.ans3}}</label>
                    <br>
               {% endif %}
                {% if row.type >= 4 %}
                    <label for="option{{row.number}}.4"><input type="radio" id="option{{row.number}}.4" name="{{row.number}}" value="{{row.ans4}}" /> {{row.ans4}}</label>
                    <br>
                {% endif %}
                {% if row.type >= 5 %}
                    <label for="option{{row.number}}.5"><input type="radio" id="option{{row.number}}.5" name="{{row.number}}" value="{{row.ans5}}" /> {{row.ans5}}</label>
                    <br>
                {% endif %}
                {% if row.type >= 6 %}
                    <label for="option{{row.number}}.6"><input type="radio" id="option{{row.number}}.6" name="{{row.number}}" value="{{row.ans6}}" /> {{row.ans6}}</label>
                    <br>
               {% endif %}

                <p></p>
                </div>

            {% endfor %}
        </div>
        <div class="btn-section">
            <button class="btn btn-primary" type="submit">Submit</button>
        </div>
    </form>
    {% endif %}

    <br>
    <br>


{% endblock %}