{% extends "survey/layout.html" %} {% block head %} Survey {% endblock %} {%
block body %} {% if user.is_authenticated %}
<div class="surveyPreview">
  <div class="previewIntro">
    <h1>Survey Preview</h1>
    <p>
      This is a preview of your survey as it will appear to the people you send
      the link to.
    </p>
    <p>You cannot complete the survey yourself while logged in.</p>
  </div>
  <div class="question-section">
    {% if questions %} {% for row in questions %}
    <div class="question-container">
      <p class="question">{{row.number}}. {{ row.question }}</p>

      <div class="answer-container">
        {% if row.type >= 1 %}
        <label class="option" for="option{{row.number}}.1">
          <input
            type="radio"
            id="option{{row.number}}.1"
            name="{{row.number}}"
            value="{{row.ans1}}"
          />
          {{row.ans1}}</label
        >
        {% endif %} {% if row.type >= 2 %}
        <label class="option" for="option{{row.number}}.2"
          ><input
            type="radio"
            id="option{{row.number}}.2"
            name="{{row.number}}"
            value="{{row.ans2}}"
          />
          {{row.ans2}}</label
        >
        {% endif %} {% if row.type >= 3 %}
        <label class="option" for="option{{row.number}}.3"
          ><input
            type="radio"
            id="option{{row.number}}.3"
            name="{{row.number}}"
            value="{{row.ans3}}"
          />
          {{row.ans3}}</label
        >
        {% endif %}
      </div>
      <div class="answer-container">
        {% if row.type >= 4 %}
        <label class="option" for="option{{row.number}}.4"
          ><input
            type="radio"
            id="option{{row.number}}.4"
            name="{{row.number}}"
            value="{{row.ans4}}"
          />
          {{row.ans4}}</label
        >
        {% endif %} {% if row.type >= 5 %}
        <label class="option" for="option{{row.number}}.5"
          ><input
            type="radio"
            id="option{{row.number}}.5"
            name="{{row.number}}"
            value="{{row.ans5}}"
          />
          {{row.ans5}}</label
        >
        {% endif %} {% if row.type >= 6 %}
        <label class="option" for="option{{row.number}}.6"
          ><input
            type="radio"
            id="option{{row.number}}.6"
            name="{{row.number}}"
            value="{{row.ans6}}"
          />
          {{row.ans6}}</label
        >
        {% endif %}
      </div>
    </div>
    {% endfor %}
    <div class="btn-section">
      <p>This preview cannot be submitted.</p>
    </div>
    {% else %}
    <p>No questions yet! Come back later once you have created the survey.</p>
    <p>You can create your survey <a href="/editor">here</a>.</p>
    {% endif %}
  </div>
</div>
{% else %}
<h1>Survey</h1>
<p>
  Please complete this anonymous survey and don't forget to hit submit at the
  bottom once you're finished.
</p>
<form class="survey" action="/" method="post">
  {% csrf_token %}
  <div class="question-section">
    {% for row in questions %}
    <div class="question-container">
      <input type="hidden" name="asker" value="{{row.asker.id}}" />
      <p class="question">{{row.number}}. {{ row.question }}</p>
      <div class="answer-container">
        {% if row.type >= 1 %}
        <label class="option" for="option{{row.number}}.1"
          ><input
            type="radio"
            id="option{{row.number}}.1"
            name="{{row.number}}"
            value="{{row.ans1}}"
          />
          {{row.ans1}}</label
        >
        {% endif %} {% if row.type >= 2 %}
        <label class="option" for="option{{row.number}}.2"
          ><input
            type="radio"
            id="option{{row.number}}.2"
            name="{{row.number}}"
            value="{{row.ans2}}"
          />
          {{row.ans2}}</label
        >
        {% endif %} {% if row.type >= 3 %}
        <label class="option" for="option{{row.number}}.3"
          ><input
            type="radio"
            id="option{{row.number}}.3"
            name="{{row.number}}"
            value="{{row.ans3}}"
          />
          {{row.ans3}}</label
        >
        {% endif %}
      </div>
      <div class="answer-container">
        {% if row.type >= 4 %}
        <label class="option" for="option{{row.number}}.4"
          ><input
            type="radio"
            id="option{{row.number}}.4"
            name="{{row.number}}"
            value="{{row.ans4}}"
          />
          {{row.ans4}}</label
        >
        {% endif %} {% if row.type >= 5 %}
        <label class="option" for="option{{row.number}}.5"
          ><input
            type="radio"
            id="option{{row.number}}.5"
            name="{{row.number}}"
            value="{{row.ans5}}"
          />
          {{row.ans5}}</label
        >
        {% endif %} {% if row.type >= 6 %}
        <label class="option" for="option{{row.number}}.6"
          ><input
            type="radio"
            id="option{{row.number}}.6"
            name="{{row.number}}"
            value="{{row.ans6}}"
          />
          {{row.ans6}}</label
        >
        {% endif %}
      </div>
    </div>

    {% endfor %}
  </div>
  <div class="btn-section">
    <button class="btn btn-primary" type="submit">Submit</button>
  </div>
</form>
{% endif %} {% endblock %}
