@media screen and (max-width: 500px){
    
    .nav-bar{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 0;
        line-height: 8px;
    }

    .nav-right{
        width: 100%;
        justify-content: space-evenly;
    }

    .logo{
        /*max-width: 70%;*/
        margin-top: 5px;
        margin: auto;
    }

    .logo img{
        height: 10vh;
    }

    .question-text{
        width: 100%;
    }

    .answer-container{
        flex-direction: column;
        width: 90%;
    }
}