body{
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

header{
    background-color: rgba(0, 122, 20, 0.678);
}

div{
    border: 1px solid red;
}

.nav-bar{
    font-size: 24px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 700;
    list-style: none;
    display: flex;
    justify-content: space-around;
    /* max-width: 960px; */
    height: 20vh;
    max-height: 100px;
    margin: 0 auto;
    align-items: center;
    gap: 2vw;
    
}

.logo{
    text-shadow: 1px 1px #000000cf;
}

.nav-item{
    border: 1px solid red;
    text-shadow: 1px 1px #000000cf;
}

.nav-left{
    font-size: 48px;
    text-decoration: none;
}

.nav-right{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2vw;
}

.bodymain{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 5vh;
    margin: 10vw;

    border: 1px solid green;

}

#message-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#account-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 1vh;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    gap: 1vh;
    width: 100%;
}

.question-section{
    width: 100%;
}

.labeled{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.question-container{
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
}

.question-text{
    width: 80%;
}

.question-text input{
    width: 100%;
}

.answer-container{
    display: flex;
    flex-direction: row;
    gap: 8px;
    width: 80%;
}