*{
    font-weight: 300;
    margin: 0px;
    padding: 0px;
    box-sizing:border-box;

}

h1{
    background: linear-gradient(rgba(0, 0, 0, 0.1),rgba(0, 0, 0, 0.1)),url("background1.jfif");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.nav{
    text-align:center;
    list-style: none;
    background-color:black;
    opacity: 0.6;
    padding:20px;

}

.nav-item{
    display: inline-block;
    width:25%;
    font-weight: bold;
    font-size:20px;
    margin:auto;
}


h1{
    /*margin-top:50px;*/
    /*margin-bottom:50px;*/
    text-align:center;
    padding:70px;
    font-size:60px;
}



.home{
    color:white;
    background: linear-gradient(rgba(0, 0, 0, 0.1),rgba(0, 0, 0, 0.1)),url("image2.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

br{
    height:15px;
}

.survey{
    padding-top:15px;
    margin-left:20%;
    margin-right:20%;
    text-align:center;
    text-transform: none;
    background-color:white;
}

.aligner{
    /*display: flex;*/
    justify-content: center;
    margin: 0 30%;
    text-align:left;
}

.question{
    text-align:left;
    font-weight: bold;
    margin: 0 0 10px 10%;
    padding-left:10%;
}

.form-control
{
    display: inline-block;
    width: auto;
}

.questionedit
{
    width:70%;
}

.centering{
    display: inline-block;
    width:100%;
    text-align:center;
}

.admin{
    text-transform: uppercase;
}

p{
    text-align:center;
    font-size:25;
    margin-bottom:20px;
}

.divides{
    width: 33.33%;
    display:inline-block;
    padding:60px;
}

.btn-section{
    display: flex;
    justify-content: center;
}


footer{
    text-align:center;
    margin-top:17%;
}